extends layout

block content
	h1= title
	p Welcome to Lotus

	// Wrapper
	#wrapper

		// USER INFO
		#prodInfo
			h2 Price Info
			p
				strong Name:
				|  <span id='prodInfoName'></span>
				br
				strong Price:
				|  <span id='prodInfoPrice'></span> as of
				|  <span id='prodInfoTime'></span>
			table
				thead
					th Historical Data
				tbody
		// /USER INFO

		// USER LIST
		h2 Wish List
		#prodList
			table
				thead
					th ProdName
					th Price
					th Changed On
					th Unfollow
				tbody
		// /USER LIST
		// SEARCH USER
		h2 Search Product
		#searchProd
			fieldset
				input#inputSearName(type='text', placeholder='name')
				button#btnSearProd Search Product
		// /SEARCH USER
		// RESULT LIST
		#resultList
			table
				tbody
		// /RESULT LIST
		// EBAY LIST
		#resultListEbay
			table
				tbody
		// /EBAY LIST
		// SEMANTICS LIST
		#resultListSemantics
			table
				tbody
		// /SEMANTICS LIST
		
	// /WRAPPER