extends layout

block content
    h1= title
    form#formAddUProd(name="addprod",method="post",action="/addprod")
        input#inputProdName(type="text", placeholder="productname", name="name")
        input#inputProdPrice(type="text", placeholder="price", name="price")
        button#btnSubmit(type="submit") submit